* {
  margin: 0;
  padding: 0;
}
body {
  background-color: white;
  font-family: "Lato", sans-serif;
  height: 100vh;
}
/* hero container */
.hero {
  background-color: #dde1e2;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  height: 450px;
}
/* hero header nav css */
.hero-header {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}

.icon-s {
  display: flex;
  margin-left: 40px;
}

.icon-s h2 {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  margin-left: 5px;
  margin-top: 5px;
}

.bgWhite {
  color: white;
  padding-left: 5px;
}

.logo {
  height: 20px;
  width: 20px;
  background-color: black;
  border-radius: 50%;
  padding: 5px;
}

.anchortag a {
  text-decoration: none;
  color: #6d7072;
}

.anchortag a:nth-of-type(1) {
  padding-right: 80px;
}

.anchortag a:nth-of-type(2) {
  padding-right: 80px;
}

.anchortag a:nth-of-type(3) {
  padding-right: 80px;
}

a button {
  margin-right: 40px;
  font-family: "Lato", sans-serif;
  color: #56595b;
  padding: 5px 30px;
  border: none;
  border-radius: 10px;
}

a button:hover {
  background-color: bisque;
  cursor: pointer;
}

/* hero main body with titles and image */
.hero-main {
  display: flex;
  justify-content: space-between;
}

/* container for titles h1,p,form */
.hero-title {
  width: 40%;
  padding: 50px;
  position: relative;
}

/* conter for sound img */
.hero-sound {
  width: 60%;
  height: 100%;
  background-image: url("wave.png");
  background-position: right;
  overflow: hidden;
}
.hero-title h1 {
  font-size: 40px;
  color: #21383e;
  padding-right: 80px;
}
.hero-title p {
  color: #798588;
  padding: 16px 0;
  font-size: 15px;
  padding-right: 80px;
}
.form-container {
  background-color: white;
  /* border: 2px solid black; */
  border-radius: 40px;
  position: absolute;
  bottom: 120px;
  right: -50px;
  width: 90%;
  height: 18%;
}
form {
  display: flex;
  justify-content: space-between;
}
.form-container form {
  padding: 15px 30px;
}
form button {
  border: none;
  background-color: #305f63;
  color: white;
  padding: 20px 55px;
  border-radius: 30px;
  margin-right: -20px;
}
.form-input label {
  color: #798588;
  font-size: 13px;
}

.form-input input {
  border: none;
  outline: none;
}

.hero-title img {
  height: 90px;
  width: 90px;
  padding: 30px 0;
}
.hero-sound img {
  transform: rotateY(180deg);
  width: 500px;
  height: 400px;
  object-fit: contain;
}

.footer-melody {
  display: flex;
}

iframe {
  height: 150px;
  width: 250px;
  border-radius: 10px;
}
.melody {
  padding: 20px;
}
.melody p:nth-of-type(1) {
  padding-top: 10px;
}
.melody p:nth-of-type(2) {
  font-size: 13px;
  color: #798588;
}
.footer {
  display: flex;
  justify-content: space-between;
}
h3 {
  font-size: 20px;
  font-weight: 300;
  padding-left: 22px;
  padding-top: 20px;
}

.weekly {
  margin-right: 300px;
}
.header {
  display: flex;
  justify-content: space-between;
}
.header h3:nth-of-type(2) {
  margin-right: 370px;
  padding-bottom: 20px;
}
.weekly li {
  list-style: none;
  font-size: 16px;
  color: #798588;
  margin: 20px;
}
.weekly span {
  border-radius: 50%;
  padding: 10px 14px;
  font-size: 10px;
  margin: 10px;
  border: 1px solid #305f63;
}
.weekly p {
  font-size: 10px;
  padding: 8px;
  color: #798588;
  margin-left: 50px;
}
